.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.metadata/

target/
build/
bin/
out/

*.log
*.log.*
**/logs/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
*.ctxt
hs_err_pid*
replay_pid*

application-dev.properties
application-local.properties
.env